body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dee1d0;
    background-image: url("http://24.media.tumblr.com/tumblr_m49ccexsct1qhska9o1_500.gif");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-repeat: repeat-x;
    

}

.jumbotron {
    background-color: SkyBlue; 
    color: white;
    font-size: 25pt;
    
}

h1 {
    font-size: 35pt;
}

.row {
   opacity: 0.9;
}

#add-train-btn {
    background-color: #66ccff;
}
#add-train-btn:hover {
    letter-spacing: 5px;
}

.card-header {
    background-color: #b3e6ff;
}